.bup_board {
  background: #fff;
  width: 100%;
}

.bup_board_title {
  font-size: 2em;
}

.bup_board_information {
  font-size: 1.2em;
}

.bup_board_list_title {
  margin-top: 0.5em;
  font-size: 1.6em;
}

ul.bup_board_items {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
}

ul.bup_board_items > li {
  background: #fff;
  vertical-align: top;
  text-align: left;
  display: inline-block;
  width: 240px;
  font-size: initial;
  position: relative;
}

ul.bup_board_items > li > img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.bup_product_remove {
  background-color: black;
  background-image: url(//cdn.bevyup.com/icons/appbar.close.svg?fill=_ffffff);
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 15px;
  margin: 0 auto;
}

.bup_product_remove:hover {
  background-image: url(//cdn.bevyup.com/icons/appbar.close.svg?fill=_d9534f);
}

.bup_product_title {
  text-align: center;
  font-size: 1.2em;
}

.bup_product_price {
  text-align: center;
  font-size: 1.2em;
  color: #5cb85c;
}

.bup_name {
  color: #763fcd;
}

.bup_timestamp {
  float: right;
  color: #5cb85c;
}

.bup_comments {
  width: 100%;
}

.bup_comment {
  border-top: 1px solid #eee;
  margin: 5px 0;
  padding: 5px 0 0;
}

.bup_comments > input {
  width: 100%;
  box-sizing: border-box;
}
